@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: yellow;
  zoom: 0.75;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid yellow;
}

.logo img {
  width: 100px;
  border: 2px solid yellow;
  border-radius: 5px;
}

.titulo  {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: yellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dolar-blue {
  border: 3px solid yellow;
  border-radius: 15px;
  padding: 15px;
  background: rgba(255, 255, 0, 0.05);
  text-align: center;
  transition: 0.3s;
}

.dolar-blue:hover {
  transform: scale(1.05);
  border-color: orange;
}

.herramientas {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

#buscador, #filtro {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid yellow;
  background: black;
  color: yellow;
}

.conversor {
  text-align: center;
  margin: 20px 0;
}

.conversor input {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid yellow;
  background: black;
  color: yellow;
}

.conversor button {
  padding: 10px 20px;
  background: yellow;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pantallazogeneral {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pantallazogeneral article {
  border: 3px solid yellow;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 0, 0.05);
  transition: 0.3s;
}

.pantallazogeneral article:hover {
  transform: scale(1.05);
  border-color: orange;
}

.pantallazogeneral img {
  width: 60%;
  margin: 10px auto;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: yellow;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: orange;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background-color: #222;
  width: 50;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  transition: all 0.3s;
}

.menu:hover {
  box-shadow: 0 12px 30px rgba(255,255,0,0.5);
}

.menu a {
  display: inline-block;
  color: yellow;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
}

.menu a:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}
#carrito {
  margin: 30px auto;
  width: 90%;
  max-width: 600px;
  background:black  ;
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
#carrito h2 {
  text-align: center;
  margin-top: 0;
  color:yellow;
}
#carrito ul {
  list-style: none;
  padding: 0;
}
#carrito li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
#carrito button {
  background: #dc3545;
  border: none;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
}
#carrito button:hover {
  background: #b02a37;
}
